<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Audio and Video Accessibility Research Project">
        <link rel="icon" type="image/png" href="/favicon.png">
        <title>Audio and Video Accessibility Research Project - Audio</title>
    </head>

    <body>
        <h1>Audio and Video Accessibility Research Project - Audio</h1>
        <a href="#main-content" class="skip-link" tabindex="0" title="Skip to main content">Skip to main content</a>
        <header class="header" role="banner">
            <div class="logo-nav">
                <a href="/index.html">
                    <img src="/images/logo.svg" alt="Logo" title="Audio and Video Accessibility Research Project">
                </a>
                <nav class="main-navigation" aria-label="Main navigation menu" role="navigation">
                    <h2 class="hidden">Main navigation</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/audio.html" aria-current="page">Audio</a></li>
                        <li><a href="/video.html">Video</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main" id="main-content" role="main">
            <section class="audio-container">
                <h2 class="visually-hidden">Audio player for Sample 1</h2>
                <p>Listen to Sample 1:</p>
                <audio src="/audio/sample1.mp3" controls aria-label="Audio player for Sample 1" tabindex="0">
                    <label for="sample1">Sample 1</label>
                    <source src="/audio/sample1.mp3" type="audio/mpeg">
                    <track kind="captions" label="English captions" src="/videos/sample1-en.vtt" default>
                    <track kind="description" label="Transcript" src="/videos/sample2-transcript.vtt">
                    <track kind="description" label="Audio Description" src="/videos/sample2-audio-description.mp3">
                    Your browser does not support the audio element.
                </audio>
            </section>
            <section class="audio-container">
                <h2 class="visually-hidden">Audio player for Sample 2</h2>
                <p>Listen to Sample 2:</p>
                <audio src="/audio/sample2.mp3" controls aria-label="Audio player for Sample 2" tabindex="0">
                    <label for="sample2">Sample 2</label>
                    <source src="/audio/sample2.mp3" type="audio/mpeg">
                    <track kind="captions" label="English captions" src="/videos/sample2-en.vtt" default>
                    <track kind="description" label="Transcript" src="/videos/sample2-transcript.vtt">
                    <track kind="description" label="Audio Description" src="/videos/sample2-audio-description.mp3">
                    Your browser does not support the audio element.
                </audio>
            </section>
        </main>
        <footer class="footer" role="contentinfo">
            <h2 class="visually-hidden">Footer</h2>
            <p><span lang="en">&copy;</span> 2023 Audio/Video Accessibility Research Project</p>
        </footer>

        <noscript>
            <p>Please enable JavaScript to access this site's features.</p>
        </noscript>

        <script src="/js/main.js" type="module" defer></script>
    </body>

</html>
