<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Audio and Video Accessibility Research Project">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="icon" type="image/png" href="/images/logo.svg">
        <title>Audio and Video Accessibility Research Project - Video</title>
    </head>

    <body>
        <h1 class="visually-hidden">Audio and Video Accessibility Research Project - Video</h1>
        <a href="#main-content" class="skip-link" tabindex="0" title="Skip to main content">Skip to main content</a>
        <header class="header">
            <div class="logo-nav">
                <a href="/">
                    <img src="/images/logo.svg" alt="Audio and Video Accessibility Research Project Logo"
                        title="Audio and Video Accessibility Research Project">
                </a>
                <nav class="main-navigation" aria-label="Main navigation menu">
                    <h2 class="visually-hidden">Main navigation</h2>
                    <ul>
                        <li><a href="/audio.html">Audio</a></li>
                        <li><a href="/video.html">Video</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main" id="main-content">
            <section class="video-section" aria-label="Video 1">
                <h2 class="video-heading">Video 1</h2>
                <video src="/video/video1.mp4" controls aria-label="Video 1 Player" tabindex="0">
                    <track kind="captions" label="English captions" src="/video/video1-captions.vtt" default>
                    <track kind="subtitles" label="Transcript" src="/video/video1-transcript.vtt">
                    <track kind="descriptions" label="Audio Description" src="/video/sample2-audio-description.mp3">
                </video>
                <a href="/video/video1-transcript.vtt" aria-label="Download Transcript" download>Download Transcript For
                    Video
                    1</a>
            </section>
            <section class="video-section" aria-label="Video 2">
                <h2 class="video-heading">Video 2</h2>
                <video src="/video/video2.mp4" controls aria-label="Video 2 Player" tabindex="0">
                    <track kind="captions" label="English captions" src="/video/video2-captions.vtt" default>
                    <track kind="subtitles" label="Transcript" src="/video/video2-transcript.vtt">
                    <track kind="descriptions" label="Audio Description" src="/video/sample2-audio-description.mp3">
                </video>
                <a href="/video/video2-transcript.vtt" aria-label="Download Transcript" download>Download Transcript For
                    Video
                    2</a>
            </section>
        </main>
        <footer class="footer">
            <h2 class="visually-hidden">Footer</h2>
            <p><span lang="en">&copy;</span> 2023 Audio/Video Accessibility Research Project</p>
        </footer>
        <noscript>
            <div role="alert">
                <p>Please enable JavaScript to access this site's features.</p>
            </div>
        </noscript>
        <script src="/js/main.js" defer></script>
    </body>

</html>
